<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= article.status %>
  </p>

  <p>
    <strong>Published at:</strong>
    <%= article.published_at %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= article.content %>
  </p>

</div>
