<%= render Admin::ContainerComponent.new do %>
  <%= render Admin::HeadingComponent.new("Articles") %>

  <%= render Admin::ContentComponent.new(width: "max-w-2xl") do %>
    <%= render Admin::Tables::TableComponent.new do |table| %>
      <% table.with_header "Title" %>
      <% table.with_header "Published", align: :right %>
      <% table.with_header align: :right do %>
        <span class="sr-only"><%= "Actions" %></span>
        <%= render Admin::IconButtonComponent.new("Add", new_admin_article_path, icon: "plus_sm") %>
      <% end %>

      <% @articles.each do |article| %>
        <% table.with_row do |row| %>
          <% row.with_cell primary: true do %>
            <%= render Admin::BasicLinkComponent.new(article.title, admin_article_path(article)) %>
          <% end %>

          <% row.with_cell align: :right do %>
            <%= article.published_at %>
          <% end %>

          <% row.with_cell align: :right do %>
            <%= render Admin::BasicLinkGroupComponent.new do |group| %>
              <% group.with_link "Edit", edit_admin_article_path(article) %>
              <% group.with_link "View", article_path(article) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
