<div class="mt-4 flex space-x-3 md:mt-0 shrink-0">
  <% if update_profile? %>
    <%= link_to edit_developer_path(user.developer), class: "inline-flex items-center btn" do %>
      <%= inline_svg_tag "icons/solid/pencil.svg", class: "-ml-1 mr-2 h-5 w-5", aria_hidden: true %>
      <%= t(".edit_profile") %>
    <% end %>
  <% else %>
    <%= link_to new_developer_path, class: "inline-flex items-center btn" do %>
      <%= inline_svg_tag "icons/solid/plus_circle.svg", class: "-ml-1 mr-2 h-5 w-5", aria_hidden: true %>
      <%= t(".add_profile") %>
    <% end %>
  <% end %>
</div>
