<footer>
  <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
    <nav class="mb-6 -mx-5 -mt-2 flex flex-wrap justify-center" aria-label="Language links">
      <% I18n.available_locales.each do |locale| %>
        <div class="px-5 py-2">
          <%= link_to request.params.merge(locale: resolve_locale(locale)), class: "text-base text-gray-500 hover:text-gray-900", "aria-label": t(".language_name_of_locale", locale: locale) do %>
            <span><%= t(".language_name_of_locale", locale: locale) %></span>
          <% end %>
        </div>
      <% end %>
    </nav>

    <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
      <div class="px-5 py-2">
        <%= link_to t(".about"), about_path, class: "text-base text-gray-500 hover:text-gray-900" %>
      </div>

      <div class="px-5 py-2">
        <%= link_to "Articles", articles_path, class: "text-base text-gray-500 hover:text-gray-900" %>
      </div>

      <div class="px-5 py-2">
        <%= link_to t(".support"), "mailto:duncan@botdevs.ai", class: "text-base text-gray-500 hover:text-gray-900" %>
      </div>

      <div class="px-5 py-2">
        <%= link_to t(".open_source"), "https://github.com/openshiro/botdevs.ai", target: "_blank", class: "text-base text-gray-500 hover:text-gray-900" %>
      </div>

      <div class="px-5 py-2">
        <%= link_to t(".open_startup"), open_startup_root_path, class: "text-base text-gray-500 hover:text-gray-900" %>
      </div>
    </nav>

    <nav class="-mx-5 mt-6 flex flex-wrap justify-center" aria-label="Footer">
      <div class="px-5 py-2">
        <%= link_to t(".privacy_policy"), policies_privacy_path, class: "text-base text-gray-500 hover:text-gray-900" %>
      </div>

      <div class="px-5 py-2">
        <%= link_to t(".terms_and_conditions"), policies_terms_path, class: "text-base text-gray-500 hover:text-gray-900" %>
      </div>
    </nav>

    <div class="mt-8 flex justify-center space-x-6">
      <%= link_to "https://linkedin.com/company/botdevs", target: "_blank", class: "text-gray-400 hover:text-gray-500" do %>
        <span class="sr-only"><%= t(".linkedin") %></span>
        <%= inline_svg_tag "icons/brands/linkedin.svg", class: "h-6 w-6", aria_hidden: true %>
      <% end %>

      <%= link_to "https://github.com/openshiro/botdevs.ai", target: "_blank", class: "text-gray-400 hover:text-gray-500" do %>
        <span class="sr-only"><%= t(".github") %></span>
        <%= inline_svg_tag "icons/brands/github.svg", class: "h-6 w-6", aria_hidden: true %>
      <% end %>

      <%= link_to "mailto:duncan@botdevs.ai", class: "text-gray-400 hover:text-gray-500" do %>
        <span class="sr-only"><%= t(".email") %></span>
        <%= inline_svg_tag "icons/outline/mail.svg", class: "h-6 w-6", aria_hidden: true %>
      <% end %>
    </div>

    <p class="mt-8 text-center text-base text-gray-400">
      &copy; <%= Date.today.year %> BotDevs. All rights reserved.  Made in Portland, Oregon.
    </p>
  </div>

  <script type="text/javascript">
    _linkedin_partner_id = "<%= Rails.application.credentials.dig(:linked_in, :partner_id) %>";
    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id);
  </script>
  <script type="text/javascript">
    (function(l) {
    if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])};
    window.lintrk.q=[]}
    var s = document.getElementsByTagName("script")[0];
    var b = document.createElement("script");
    b.type = "text/javascript";b.async = true;
    b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
    s.parentNode.insertBefore(b, s);})(window.lintrk);
  </script>
  <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=<%= Rails.application.credentials.dig(:linked_in, :partner_id) %>&fmt=gif" />
  </noscript>
</footer>
