<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="h-full bg-gray-50" dir="<%= t("dir") %>">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= Rails.application.credentials.dig(:google, :analytics_id) %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%= Rails.application.credentials.dig(:google, :analytics_id) %>');
    </script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render_open_graph_tags %>
    <%= render "shared/favicon_tags" %>
    <%= render AlternateLinksComponent.new %>

    <%= stylesheet_link_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= analytics_tag %>
    <%= hotwire_livereload_tags %>
  </head>

  <body data-controller="analytics--page-views" class="min-h-full flex flex-col">
    <div class="flex-1">
      <%= render ImpersonatingBannerComponent.new %>
      <%= render NavBar::BaseComponent.new(current_user) %>
      <%= render "shared/main" do %>
        <%= yield %>
      <% end %>
    </div>
    <%= render "shared/footer" unless turbo_native_app? %>
    <%= turbo_frame_tag "modal" %>
    <%= render Analytics::EventComponent.new(flash) %>

    <script type="text/javascript">
      _linkedin_partner_id = "<%= Rails.application.credentials.dig(:linked_in, :partner_id) %>";
      window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
      window._linkedin_data_partner_ids.push(_linkedin_partner_id);
      </script><script type="text/javascript">
      (function(l) {
      if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])};
      window.lintrk.q=[]}
      var s = document.getElementsByTagName("script")[0];
      var b = document.createElement("script");
      b.type = "text/javascript";b.async = true;
      b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
      s.parentNode.insertBefore(b, s);})(window.lintrk);
      </script>
      <noscript>
      <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=<%= Rails.application.credentials.dig(:linked_in, :partner_id) %>&fmt=gif" />
    </noscript>
  </body>
</html>
